#crypticResponse1 {
	font-family: "Monocode", monospace;
	letter-spacing: 1px;
}

.bg {
	background: #22272e !important;
	color: #adbbbc !important;
}

.hljs-index {
	color: #f7ea5b;
}

.hljs-index-add {
	/* color: #8dd881; */
}

.hljs-index-change {
	/* color: #92d9f8; */
}

.hljs-index-delete {
	/* color: #f57066; */
}

.hljs-flight,
.hljs-flight-dl,
.hljs-flight-partner {
	color: #D0F4EA;
	font-weight: 500;
}

.hljs-flight-partner,
.hljs-class-partner {
	font-style: italic;
}

.hljs-flight {
	text-decoration: underline;
}

.hljs-time {
	color: #D0F4EA;
	font-weight: 500;
}

/* .hljs-date {
	display: inline-block;
	margin-bottom: 10px;
	color: #D0F4EA;
	text-decoration: underline;
} */

.hljs-date {
	display: inline-block;
	background-color: #adbbbc;
	color: #22272e;
	padding: 2px 4px;
	border-radius: 2px;
	margin-top: 6px;
	margin-bottom: 12px;
	font-size: 0.75em;
	font-weight: bold;
}

.hljs-contact-info {
	color: #f7ea5b;
}

.hljs-office-info,
.hljs-office-name {
	color: #f7ea5b;
}

.hljs-office-info {
	text-decoration: underline;
}

.hljs-iata {
	color: #92d9f8;
	font-weight: 500;
}

.hljs-message {
	color: #f57066;
}

.hljs-pnr {
	color: #8dd881;
	cursor: pointer;
	text-decoration: underline;
}

.container {
	display: contents;
	position: relative;
}

.hljs-class:hover+.popup,
.hljs-class-partner:hover+.popup,
.hljs-status:hover+.popup,
.hljs-iata:hover+.popup,
.hljs-office-info:hover+.popup {
	opacity: 1;
	visibility: visible;
}

.popup {
	z-index: 2;
}

.highlight-line.dimmed {
	background: #22272e;
	text-decoration: 0.5px line-through solid;
}

.highlight-line.dimmed::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	opacity: 0.5;
	z-index: 1;
	pointer-events: none;
}

.popup {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background: #22272e;
	color: #adbbbc;
	text-align: center;
	border: 1px solid #adbbbc;
	padding: 5px;
	border-radius: 5px;
	transform: translate(-50%, -100%);
	transition: 0.1s ease all;
}

.hljs-status.un {
	color: #f57066;
}

.hljs-segment {
	font-size: 0.85em;
	letter-spacing: -1px;
}

.highlight-line {
	padding-block: 1px;
	position: relative;
}

.highlight-line.os,
.highlight-line.as,
.highlight-line.cs,
.highlight-line.xs,
.highlight-line.dl,
.highlight-line.rf {
	border-left: 2px solid;
}

.highlight-line.os {
	border: none;
	border-left-color: #8dd881;
}

.highlight-line.as {
	border: none;
	border-left-color: #8dd881;
}

.highlight-line.cs,
.highlight-line.tc {
	border: none;
	border-left-color: #92d9f8;
}

.highlight-line.xs,
.highlight-line.dl {
	border: none;
	border-left-color: #f57066;
}

.highlight-line.rf {
	border: none;
	border-left-color: #f7ea5b;
}

.highlight-line.active::before {
	content: "";
	display: block;
	border-bottom: 0.5px dashed;
	opacity: 0.25;
	margin-bottom: 1px;
}

.highlight-line > a {
	display: inline-block;
	text-decoration: none;
}

.highlight-line.time {
	border: 0;
}